= form_with(url: filters_path,
  class: "filters-container",
  method: :get,
  data: {controller: "filters", filters_target: "form", turbo_frame: "table"}) do |f|

  - element_builders.each do |element_builder|
    = render element_builder, element_builder.render_attributes(f, params)
